#body-login {
    --color-error: #a12d2d;
    --color-success: #4fe04f;

    background: linear-gradient(to left top, #e50000f5, #ffb36cf5, #faff00f5, #ccff00f5, #04af46c5); 
    border-radius: 4px;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}


/*Login and register style*/

.container_login {
    max-width: 420px;
    margin-top: 60px;
    margin-bottom: 20px;
    box-shadow: 0 0 40px rgb(0, 0, 0, 0.2);
    padding: 1.50rem;
    margin: 0 auto;
    background-color: rgba(255, 251, 240, 0.793);
    border: 3px dotted rgba(0, 0, 0, 0.1);
}

.container_login,
.button,
.username,
.password {
    font: 500 1rem 'Quicksand', sans-serif;
}

/* .wrapper{
    background: linear-gradient(to left top, #e50000f5, #ffb36cf5, #faff00f5, #ccff00f5, #04af46c5);
} */

.form_hidden {
    display: none;
}

.title_login {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.login_message {
    text-align: center;
    margin-bottom: 1rem;
}

.login_message_success {
    color: var(--color-success);
}

.login_message_error {
    color: var(--color-error);
}

.input_group {
    margin: 1rem;
}

.username,
.password {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.username:focus,
.password:focus {
    border-color: #71ff54;
    background: rgb(255, 255, 255);
}

.input_error_message {
    margin-top: 0.5rem;
    font-size: 0.05rem;
    color: var(--color-error);
    border-color: var(--color-error);
}

.button {
    width: 100%;
    padding: 0.50rem 0.75rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #383838;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #b4ffb1;
}

.button:hover {
    background: #76df76;
}

.button:active {
    transform: scale(0.95);
}

.form_text {
    text-align: center;
}

.newAccount {
    color: #383838;
    text-decoration: none;
    cursor: pointer;

}

.newAccount:hover {
    text-decoration: underline;
}

.colorline {
    height: 7px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/*Profile style*/

.container-profile {
    width: 900px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #faf4ea91;
    font: 500 1rem 'Quicksand', sans-serif;
    border: 2px dashed rgb(255, 162, 0);
    border-radius: 15px;
}

header {
    font-size: 2rem;
    text-align: center;
    background-color: #faf4ea91;
    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.topbar {
    background-color: #faf4ea91;
    overflow: hidden;
}

.topbar a {
    float: right;
    color: #202020;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.body-profile {
    font-size: 1rem;
    padding: 10px;
}

.profile {
    float: left;
    width: 30%;
    height: 450px;
    background-color: #f6e5c6;
    border-radius: 15px;
}

.profile h3 {
    margin: 0px 15px;
    padding: 0px;
    width: 250px;
}

.profile img {
    width: 150px;
    height: 120px;
    margin: 15px;
    border: 3px dashed #ff66006d;
}

.profile p{
    margin: 0px 15px;
    width: 200px;
}

.savedQuotes {
    padding: 10px;
    float: right;
    width: 65%;
}

.savedQuotes h3 {
    text-align: center;
}


/*Index Style / Quote page style*/
/* 
#body-quotes{
    margin:0;
	padding:0;
	box-sizing: border-box;
    min-height:100vh;
	transition: 0.5s;
	transition-timing-function: ease-in;
	background-image: linear-gradient(to right bottom, #ed4264a8, #ffedbca8);
}

.recto-quote{
    padding:3rem;
	transition: 0.5s;
	transition-timing-function: ease-in;
}

.text{
    font-size:30px;
	padding-left:10px;
	transition: 0.5s;
	transition-timing-function: ease-in;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(to right bottom, #ed4264a8, #ffedbca8);
	color: transparent;
}

.quote{
    transition: 0.5s;
	transition-timing-function: ease-in;
}

.new-quote{
	font-size:15px;
	border-radius: 5px;
	cursor:pointer;
	padding-bottom: 8px;
	padding-top: 9px;
	margin-top: 5px;
	background-image: linear-gradient(to right bottom, #ed4264a8, #ffedbca8);
}

.new-quote:hover{
	opacity: 0.6;
}

.author{
	margin:10px;
	font-size:20px;
	transition: 0.5s;
	transition-timing-function: ease-in;
	font-family: 'Open Sans Condensed', sans-serif;
	background-image: linear-gradient(to right bottom, #28313B,#485461
	);
	color: transparent;
	/* -webkit-background-clip: text; 
}

p{
	margin-top: 5px;
	text-align: center;
	position: absolute;
	width: 100%;
	top:21.5%;
}

.container-quotes{
    text-align: center;
    perspective: 150rem;
    position: absolute;
    top:25%;
    left: 27%;
}

.container-quotes__main {
	min-width: 45vw;
	position: absolute;
	transition: all .8s ease;
	backface-visibility: hidden;
	box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
	border-radius: .5rem;
	background-image: linear-gradient(to right bottom, #F6F0EA,#F1DFD1);
}

.container-quotes__back {
	transform: rotateY(180deg);
}

.rotateF{
transform: rotateY(-180deg);
}

.rotateB{
transform: rotate(0deg);
} */